# TAREA 5

In [2]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Ign:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Get:8 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,071 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Hit:11 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:13 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,425 kB]
Hit:14 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,654 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,450 kB]
Get:17 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,601 kB]
Fetched 16.6 MB in 3s (5,175 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
50 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [3]:
pip install findspark

Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [1]:
import matplotlib.pyplot as plt
import statsmodels.api as sm
import numbers
import numpy as np
import pandas as pd
from tabulate import tabulate
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
from typing import List, Union, Dict, Any, Tuple
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import Ridge
from matplotlib.figure import Figure
from matplotlib.axes import Axes

In [2]:
import os
import pandas as pd
import setuptools
import sys
import findspark
findspark.init()
findspark.find()
from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F
import time
from pyspark.sql.functions import col, to_date, concat, lpad, lit

In [3]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline
from pyspark.sql.types import IntegerType
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import ChiSqSelector

In [4]:
from pyspark import SparkContext
from pyspark.ml.feature import StandardScaler

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
               .appName('ml') \
               .getOrCreate()

In [103]:
df = spark.read.csv('public_emdat_request.csv', header=True, inferSchema=True)

In [30]:
def clean_column_names(df):
    new_columns = [col.replace(" ", "_").lower().strip() for col in df.columns]
    df = df.toDF(*new_columns)
    return df

In [104]:
df = clean_column_names(df)

In [105]:
df= df.drop("disno", "external_ids", "origin","associated_types","ofda_bha_response",
            "appeal","declaration","aid_contribution","latitude","longitude","river_basin",
            "injured","affected","homeless","cpi","classification","entry_date","last_update","classification_key",
            "magnitude_scale","event_name")
df.printSchema()

root
 |-- historic: string (nullable = true)
 |-- disaster_group: string (nullable = true)
 |-- disaster_subgroup: string (nullable = true)
 |-- disaster_type: string (nullable = true)
 |-- disaster_subtype: string (nullable = true)
 |-- iso: string (nullable = true)
 |-- country: string (nullable = true)
 |-- subregion: string (nullable = true)
 |-- region: string (nullable = true)
 |-- location: string (nullable = true)
 |-- magnitude: double (nullable = true)
 |-- start_year: integer (nullable = true)
 |-- start_month: integer (nullable = true)
 |-- start_day: integer (nullable = true)
 |-- end_year: integer (nullable = true)
 |-- end_month: integer (nullable = true)
 |-- end_day: integer (nullable = true)
 |-- total_deaths: integer (nullable = true)
 |-- total_affected: integer (nullable = true)
 |-- insured_damage_adjusted: integer (nullable = true)

In [106]:
df.show()

+--------+--------------+-----------------+-----------------+--------------------+---+--------------------+--------------------+--------+--------------------+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+
|historic|disaster_group|disaster_subgroup|    disaster_type|    disaster_subtype|iso|             country|           subregion|  region|            location|magnitude|start_year|start_month|start_day|end_year|end_month|end_day|total_deaths|total_affected|insured_damage_adjusted|
+--------+--------------+-----------------+-----------------+--------------------+---+--------------------+--------------------+--------+--------------------+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+
|     Yes|       Natural|   Meteorological|            Storm|    Tropical cyclone|USA|United States of ...|    Northern America|Americas|   Galveston (Texas)|    220.0|      1900|          9|        8|    1900|        9|      8|        6000|          null|                   null|
|     Yes|       Natural|     Hydrological|            Flood|     Flood (General)|JAM|             Jamaica|Latin America and...|Americas|         Saint James|     null|      1900|          1|        6|    1900|        1|      6|         300|          null|                   null|
|     Yes|       Natural|       Biological|         Epidemic|       Viral disease|JAM|             Jamaica|Latin America and...|Americas|               Porus|     null|      1900|          1|       13|    1900|        1|     13|          30|          null|                   null|
|     Yes|       Natural|      Geophysical|Volcanic activity|            Ash fall|JPN|               Japan|        Eastern Asia|    Asia|                null|     null|      1900|          7|        7|    1900|        7|      7|          30|          null|                   null|
|     Yes|       Natural|      Geophysical|       Earthquake|     Ground movement|TUR|             T�rkiye|        Western Asia|    Asia|KARS,KARAKURT,KAG...|      5.9|      1900|          7|       12|    1900|        7|     12|         140|          null|                   null|
|     Yes|       Natural|   Climatological|          Drought|             Drought|IND|               India|       Southern Asia|    Asia|              Bengal|     null|      1900|       null|     null|    1900|     null|   null|     1250000|          null|                   null|
|     Yes|       Natural|   Climatological|          Drought|             Drought|CPV|          Cabo Verde|  Sub-Saharan Africa|  Africa|         Countrywide|     null|      1900|       null|     null|    1900|     null|   null|       11000|          null|                   null|
|     Yes|       Natural|       Biological|         Epidemic|Infectious diseas...|UGA|              Uganda|  Sub-Saharan Africa|  Africa|          Nationwide|     null|      1901|       null|     null|    1901|     null|   null|      200000|          null|                   null|
|     Yes|       Natural|      Geophysical|       Earthquake|             Tsunami|JPN|               Japan|        Eastern Asia|    Asia|             Sanriku|      7.9|      1901|          8|       10|    1901|        8|     10|          18|            24|                   null|
|     Yes|       Natural|      Geophysical|Volcanic activity|            Ash fall|GTM|           Guatemala|Latin America and...|Americas|                null|     null|      1902|          4|        8|    1902|        4|      8|        1000|          null|                   null|
|     Yes|       Natural|   Meteorological|            Storm|    Tropical cyclone|MMR|             Myanmar|  South-eastern Asia|    Asia|             Rangoon|     null|      1902|          5|        4|    1902|        5|      4|         600|          null|                   null|
|     Yes|       Natural|      Geophysical|Volcanic activity|            Ash fall|MTQ|          Martinique|Latin America and...|Americas|                null|     null|      1902|          5|        8|    1902|        5|      8|       30000|          null|                   null|
|     Yes|       Natural|      Geophysical|Volcanic activity|            Ash fall|VCT|Saint Vincent and...|Latin America and...|Americas|                null|     null|      1902|          5|        7|    1902|        5|      7|        1565|          null|                   null|
|     Yes|       Natural|      Geophysical|Volcanic activity|            Ash fall|JPN|               Japan|        Eastern Asia|    Asia|           Torishima|     null|      1902|          8|     null|    1902|        8|   null|         125|          null|                   null|
|     Yes|       Natural|      Geophysical|Volcanic activity|            Ash fall|GTM|           Guatemala|Latin America and...|Americas|                null|     null|      1902|         10|       24|    1902|       10|     24|        6000|          null|                   null|
|     Yes|       Natural|      Geophysical|       Earthquake|     Ground movement|SUN|        Soviet Union|      Eastern Europe|  Europe|Andishan,Tashkent...|      6.4|      1902|         12|       16|    1902|       12|     16|        4562|        125112|                   null|
|     Yes|       Natural|      Geophysical|       Earthquake|     Ground movement|GTM|           Guatemala|Latin America and...|Americas|Quezaltenango, Sa...|      7.5|      1902|          4|       18|    1902|        4|     18|        2000|          null|                   null|
|     Yes|       Natural|      Geophysical|       Earthquake|     Ground movement|SUN|        Soviet Union|      Eastern Europe|  Europe|Semacha (Azerbaijan)|      6.9|      1902|          2|       13|    1902|        2|     13|          86|         17540|                   null|
|     Yes|       Natural|      Geophysical|       Earthquake|     Ground movement|CHN|               China|        Eastern Asia|    Asia| XINJIANG, TURKESTAN|      7.7|      1902|          8|       22|    1902|        8|     22|        2500|          null|                   null|
|     Yes|       Natural|     Hydrological|            Flood|     Flood (General)|USA|United States of ...|    Northern America|Americas|   Passaic, Delaware|     null|      1903|       null|     null|    1903|     null|   null|        null|          null|                   null|
+--------+--------------+-----------------+-----------------+--------------------+---+--------------------+--------------------+--------+--------------------+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+
only showing top 20 rows

In [107]:
def create_date_column(df, year_col, month_col, day_col, new_col_name):
    df = df.withColumn(month_col, lpad(col(month_col), 2, "0")) \
           .withColumn(day_col, lpad(col(day_col), 2, "0"))

    return df.withColumn(new_col_name, to_date(concat(col(year_col),
                                                        lit("-"),
                                                        col(month_col),
                                                        lit("-"),
                                                        col(day_col)),
                                                "yyyy-MM-dd"))

df = create_date_column(df, "start_year", "start_month", "start_day", "start_date")
df = create_date_column(df, "end_year", "end_month", "end_day", "end_date")

In [108]:
#Dropna
columns_to_dropna = ["location", "start_date","magnitude"]
df = df.dropna(subset=columns_to_dropna)

#Fillna
fill_values = {
    #"event_name": "None",
    #"magnitude": 0,
    "total_deaths":0,
    "total_affected":0,
    "insured_damage_adjusted":0
}
for column, value in fill_values.items():
    df = df.fillna({column: value})

#df_indexado = df.filter(~((col("disaster_type").isin("Drought", "Earthquake", "Epidemic",
#                                                                 "Extreme temperature", "Flood",
#                                                                 "Storm", "Wildfire")) & col("magnitude").isNull()))

# Mostrar el esquema final del DataFrame
df = df.withColumn("end_month", col("end_month").cast("integer"))
df = df.withColumn("start_month", col("start_month").cast("integer"))
df = df.withColumn("end_day", col("end_day").cast("integer"))
df = df.withColumn("start_day", col("start_day").cast("integer"))
df.printSchema()

root
 |-- historic: string (nullable = true)
 |-- disaster_group: string (nullable = true)
 |-- disaster_subgroup: string (nullable = true)
 |-- disaster_type: string (nullable = true)
 |-- disaster_subtype: string (nullable = true)
 |-- iso: string (nullable = true)
 |-- country: string (nullable = true)
 |-- subregion: string (nullable = true)
 |-- region: string (nullable = true)
 |-- location: string (nullable = true)
 |-- magnitude: double (nullable = true)
 |-- start_year: integer (nullable = true)
 |-- start_month: integer (nullable = true)
 |-- start_day: integer (nullable = true)
 |-- end_year: integer (nullable = true)
 |-- end_month: integer (nullable = true)
 |-- end_day: integer (nullable = true)
 |-- total_deaths: integer (nullable = false)
 |-- total_affected: integer (nullable = false)
 |-- insured_damage_adjusted: integer (nullable = false)
 |-- start_date: date (nullable = true)
 |-- end_date: date (nullable = true)

In [109]:
column_names = df.columns
print(column_names)

['historic', 'disaster_group', 'disaster_subgroup', 'disaster_type', 'disaster_subtype', 'iso', 'country', 'subregion', 'region', 'location', 'magnitude', 'start_year', 'start_month', 'start_day', 'end_year', 'end_month', 'end_day', 'total_deaths', 'total_affected', 'insured_damage_adjusted', 'start_date', 'end_date']

In [110]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType
import pandas as pd

columns_to_index = ["historic", "disaster_group", "disaster_subgroup", "disaster_type", "disaster_subtype",
                    "iso", "country", "subregion", "region", "location"]

indexers = [StringIndexer(inputCol=col, outputCol=f"{col}_indexado", handleInvalid='skip') for col in columns_to_index]
pipeline = Pipeline(stages=indexers)
model = pipeline.fit(df)
df_indexado = model.transform(df)

# Ajustar índices y eliminar columnas originales
for col_name in columns_to_index:
    index_col = f"{col_name}_indexado"
    if index_col in df_indexado.columns:
        # Crear nueva columna que ajusta el índice
        df_indexado = df_indexado.withColumn(index_col, col(index_col) + 1)
        # Eliminar la columna original si es necesario
        df_indexado = df_indexado.drop(col_name)

# Convertir a enteros
for col_name in df_indexado.columns:
    if "_indexado" in col_name:
        df_indexado = df_indexado.withColumn(col_name, col(col_name).cast(IntegerType()))

df_indexado.printSchema()

glosario = []
for indexer in indexers:
    input_col = indexer.getInputCol()
    output_col = indexer.getOutputCol()
    index_labels = model.stages[columns_to_index.index(input_col)].labels

    for idx, label in enumerate(index_labels):
        glosario.append((output_col, idx + 1, label))  # Sumar 1 al índice

glos = pd.DataFrame(glosario, columns=['Columna', 'Índice', 'Definición'])
glos.to_excel('glosario.xlsx', index=False)

root
 |-- magnitude: double (nullable = true)
 |-- start_year: integer (nullable = true)
 |-- start_month: integer (nullable = true)
 |-- start_day: integer (nullable = true)
 |-- end_year: integer (nullable = true)
 |-- end_month: integer (nullable = true)
 |-- end_day: integer (nullable = true)
 |-- total_deaths: integer (nullable = false)
 |-- total_affected: integer (nullable = false)
 |-- insured_damage_adjusted: integer (nullable = false)
 |-- start_date: date (nullable = true)
 |-- end_date: date (nullable = true)
 |-- historic_indexado: integer (nullable = true)
 |-- disaster_group_indexado: integer (nullable = true)
 |-- disaster_subgroup_indexado: integer (nullable = true)
 |-- disaster_type_indexado: integer (nullable = true)
 |-- disaster_subtype_indexado: integer (nullable = true)
 |-- iso_indexado: integer (nullable = true)
 |-- country_indexado: integer (nullable = true)
 |-- subregion_indexado: integer (nullable = true)
 |-- region_indexado: integer (nullable = true)
 |-- location_indexado: integer (nullable = true)

In [111]:
columns_to_drop = ["start_date", "end_date"]
df_indexado = df_indexado.drop(*columns_to_drop)

In [112]:
df_indexado.printSchema()

root
 |-- magnitude: double (nullable = true)
 |-- start_year: integer (nullable = true)
 |-- start_month: integer (nullable = true)
 |-- start_day: integer (nullable = true)
 |-- end_year: integer (nullable = true)
 |-- end_month: integer (nullable = true)
 |-- end_day: integer (nullable = true)
 |-- total_deaths: integer (nullable = false)
 |-- total_affected: integer (nullable = false)
 |-- insured_damage_adjusted: integer (nullable = false)
 |-- historic_indexado: integer (nullable = true)
 |-- disaster_group_indexado: integer (nullable = true)
 |-- disaster_subgroup_indexado: integer (nullable = true)
 |-- disaster_type_indexado: integer (nullable = true)
 |-- disaster_subtype_indexado: integer (nullable = true)
 |-- iso_indexado: integer (nullable = true)
 |-- country_indexado: integer (nullable = true)
 |-- subregion_indexado: integer (nullable = true)
 |-- region_indexado: integer (nullable = true)
 |-- location_indexado: integer (nullable = true)

In [17]:
from pyspark.ml.feature import VectorAssembler, ChiSqSelector

In [113]:
df_indexado = df_indexado.dropna()

In [114]:
df_indexado_pd = df_indexado.toPandas()
df_indexado_pd.to_excel('df_indexado_2.xlsx', index=False)

In [148]:
df_indexado_2 = df_indexado.limit(100)
df_indexado_2.show()

+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+
|magnitude|start_year|start_month|start_day|end_year|end_month|end_day|total_deaths|total_affected|insured_damage_adjusted|historic_indexado|disaster_group_indexado|disaster_subgroup_indexado|disaster_type_indexado|disaster_subtype_indexado|iso_indexado|country_indexado|subregion_indexado|region_indexado|location_indexado|
+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+
|    220.0|      1900|          9|        8|    1900|        9|      8|        6000|             0|                      0|                2|                      1|                         3|                     3|                        3|           2|               2|                 6|              2|             1525|
|      5.9|      1900|          7|       12|    1900|        7|     12|         140|             0|                      0|                2|                      1|                         2|                     2|                        1|           9|               9|                 8|              1|             2024|
|      7.9|      1901|          8|       10|    1901|        8|     10|          18|            24|                      0|                2|                      1|                         2|                     2|                       12|           7|               7|                 3|              1|              108|
|      6.4|      1902|         12|       16|    1902|       12|     16|        4562|        125112|                      0|                2|                      1|                         2|                     2|                        1|          35|              35|                 9|              3|              338|
|      7.5|      1902|          4|       18|    1902|        4|     18|        2000|             0|                      0|                2|                      1|                         2|                     2|                        1|          53|              53|                 1|              2|             3344|
|      6.9|      1902|          2|       13|    1902|        2|     13|          86|         17540|                      0|                2|                      1|                         2|                     2|                        1|          35|              35|                 9|              3|             3587|
|      7.7|      1902|          8|       22|    1902|        8|     22|        2500|             0|                      0|                2|                      1|                         2|                     2|                        1|           1|               1|                 3|              1|             4245|
|      6.3|      1903|          4|       29|    1903|        4|     29|        3560|         60000|                      0|                2|                      1|                         2|                     2|                        1|           9|               9|                 8|              1|             2554|
|      5.7|      1903|          3|       30|    1903|        3|     30|          20|             0|                      0|                2|                      1|                         2|                     2|                        1|         147|             148|                 8|              1|             2804|
|      5.8|      1903|          5|       28|    1903|        5|     28|        1000|             0|                      0|                2|                      1|                         2|                     2|                        1|           9|               9|                 8|              1|             4084|
|      6.5|      1903|          9|       25|    1903|        9|     25|         350|             0|                      0|                2|                      1|                         2|                     2|                        1|           6|               6|                 2|              1|             2109|
|      6.0|      1904|          4|       24|    1904|        4|     24|           3|           208|                      0|                2|                      1|                         2|                     2|                        1|          21|              21|                 3|              1|               24|
|      6.2|      1904|          8|       11|    1904|        8|     11|           4|          1620|                      0|                2|                      1|                         2|                     2|                        1|          20|              20|                 7|              3|             3492|
|      6.3|      1904|         11|        6|    1904|       11|      6|         145|          2141|                      0|                2|                      1|                         2|                     2|                        1|          21|              21|                 3|              1|               24|
|      7.1|      1905|          9|        8|    1905|        9|      8|         557|         22100|                      0|                2|                      1|                         2|                     2|                        1|          18|              18|                 7|              3|             2502|
|      7.8|      1905|          4|        4|    1905|        4|      4|       20000|             0|                      0|                2|                      1|                         2|                     2|                        1|           5|               5|                 2|              1|             2074|
|      7.0|      1905|          7|        7|    1905|        7|      7|          41|             0|                      0|                2|                      1|                         2|                     2|                       12|           7|               7|                 3|              1|             1502|
|      6.6|      1905|          6|        1|    1905|        6|      1|         120|             0|                      0|                2|                      1|                         2|                     2|                        1|          40|              40|                 7|              3|             3636|
|      7.8|      1905|          6|        2|    1905|        6|      2|          11|           177|                      0|                2|                      1|                         2|                     2|                        1|           7|               7|                 3|              1|              217|
|      5.0|      1905|         11|        8|    1905|       11|      8|           0|             0|                      0|                2|                      1|                         2|                     2|                        1|           1|               1|                 3|              1|                3|
+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+
only showing top 20 rows

In [149]:
inputCols = [
    #'event_name',
    'magnitude',
    #'magnitude_scale',
    #'start_year',
    #'start_month',
    #'start_day',
    #'start_date',
    #'end_year',
    #'end_month',
    #'end_day',
    #'end_date',
    #'total_deaths',
    #'total_affected',
    #'insured_damage_adjusted',
    #'historic_indexado',
    'disaster_group_indexado',
    ##'disaster_subgroup_indexado',
    'disaster_type_indexado',
    'disaster_subtype_indexado',
    #'iso_indexado',
    ##'country_indexado',
    #subregion_indexado',
    'region_indexado',
    #'location_indexado'
]
assembler = VectorAssembler(inputCols = inputCols, outputCol = "features")
df_with_features = assembler.transform(df_indexado_2)

df_with_features.select('features').show(10, False)

+-----------------------+
|features               |
+-----------------------+
|[220.0,1.0,3.0,3.0,2.0]|
|[5.9,1.0,2.0,1.0,1.0]  |
|[7.9,1.0,2.0,12.0,1.0] |
|[6.4,1.0,2.0,1.0,3.0]  |
|[7.5,1.0,2.0,1.0,2.0]  |
|[6.9,1.0,2.0,1.0,3.0]  |
|[7.7,1.0,2.0,1.0,1.0]  |
|[6.3,1.0,2.0,1.0,1.0]  |
|[5.7,1.0,2.0,1.0,1.0]  |
|[5.8,1.0,2.0,1.0,1.0]  |
+-----------------------+
only showing top 10 rows

In [150]:
df_with_features.printSchema()

root
 |-- magnitude: double (nullable = true)
 |-- start_year: integer (nullable = true)
 |-- start_month: integer (nullable = true)
 |-- start_day: integer (nullable = true)
 |-- end_year: integer (nullable = true)
 |-- end_month: integer (nullable = true)
 |-- end_day: integer (nullable = true)
 |-- total_deaths: integer (nullable = false)
 |-- total_affected: integer (nullable = false)
 |-- insured_damage_adjusted: integer (nullable = false)
 |-- historic_indexado: integer (nullable = true)
 |-- disaster_group_indexado: integer (nullable = true)
 |-- disaster_subgroup_indexado: integer (nullable = true)
 |-- disaster_type_indexado: integer (nullable = true)
 |-- disaster_subtype_indexado: integer (nullable = true)
 |-- iso_indexado: integer (nullable = true)
 |-- country_indexado: integer (nullable = true)
 |-- subregion_indexado: integer (nullable = true)
 |-- region_indexado: integer (nullable = true)
 |-- location_indexado: integer (nullable = true)
 |-- features: vector (nullable = true)

In [151]:
df_with_features.show(7)

+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+--------------------+
|magnitude|start_year|start_month|start_day|end_year|end_month|end_day|total_deaths|total_affected|insured_damage_adjusted|historic_indexado|disaster_group_indexado|disaster_subgroup_indexado|disaster_type_indexado|disaster_subtype_indexado|iso_indexado|country_indexado|subregion_indexado|region_indexado|location_indexado|            features|
+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+--------------------+
|    220.0|      1900|          9|        8|    1900|        9|      8|        6000|             0|                      0|                2|                      1|                         3|                     3|                        3|           2|               2|                 6|              2|             1525|[220.0,1.0,3.0,3....|
|      5.9|      1900|          7|       12|    1900|        7|     12|         140|             0|                      0|                2|                      1|                         2|                     2|                        1|           9|               9|                 8|              1|             2024|[5.9,1.0,2.0,1.0,...|
|      7.9|      1901|          8|       10|    1901|        8|     10|          18|            24|                      0|                2|                      1|                         2|                     2|                       12|           7|               7|                 3|              1|              108|[7.9,1.0,2.0,12.0...|
|      6.4|      1902|         12|       16|    1902|       12|     16|        4562|        125112|                      0|                2|                      1|                         2|                     2|                        1|          35|              35|                 9|              3|              338|[6.4,1.0,2.0,1.0,...|
|      7.5|      1902|          4|       18|    1902|        4|     18|        2000|             0|                      0|                2|                      1|                         2|                     2|                        1|          53|              53|                 1|              2|             3344|[7.5,1.0,2.0,1.0,...|
|      6.9|      1902|          2|       13|    1902|        2|     13|          86|         17540|                      0|                2|                      1|                         2|                     2|                        1|          35|              35|                 9|              3|             3587|[6.9,1.0,2.0,1.0,...|
|      7.7|      1902|          8|       22|    1902|        8|     22|        2500|             0|                      0|                2|                      1|                         2|                     2|                        1|           1|               1|                 3|              1|             4245|[7.7,1.0,2.0,1.0,...|
+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+--------------------+
only showing top 7 rows

In [152]:
selector = ChiSqSelector(numTopFeatures = 3, featuresCol = "features", labelCol="total_affected",
                         outputCol="selected_features")
df_sel = selector.fit(df_with_features).transform(df_with_features)
df_sel.show(5)

+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+--------------------+-----------------+
|magnitude|start_year|start_month|start_day|end_year|end_month|end_day|total_deaths|total_affected|insured_damage_adjusted|historic_indexado|disaster_group_indexado|disaster_subgroup_indexado|disaster_type_indexado|disaster_subtype_indexado|iso_indexado|country_indexado|subregion_indexado|region_indexado|location_indexado|            features|selected_features|
+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+--------------------+-----------------+
|    220.0|      1900|          9|        8|    1900|        9|      8|        6000|             0|                      0|                2|                      1|                         3|                     3|                        3|           2|               2|                 6|              2|             1525|[220.0,1.0,3.0,3....|  [220.0,3.0,3.0]|
|      5.9|      1900|          7|       12|    1900|        7|     12|         140|             0|                      0|                2|                      1|                         2|                     2|                        1|           9|               9|                 8|              1|             2024|[5.9,1.0,2.0,1.0,...|    [5.9,2.0,1.0]|
|      7.9|      1901|          8|       10|    1901|        8|     10|          18|            24|                      0|                2|                      1|                         2|                     2|                       12|           7|               7|                 3|              1|              108|[7.9,1.0,2.0,12.0...|   [7.9,2.0,12.0]|
|      6.4|      1902|         12|       16|    1902|       12|     16|        4562|        125112|                      0|                2|                      1|                         2|                     2|                        1|          35|              35|                 9|              3|              338|[6.4,1.0,2.0,1.0,...|    [6.4,2.0,1.0]|
|      7.5|      1902|          4|       18|    1902|        4|     18|        2000|             0|                      0|                2|                      1|                         2|                     2|                        1|          53|              53|                 1|              2|             3344|[7.5,1.0,2.0,1.0,...|    [7.5,2.0,1.0]|
+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+--------------------+-----------------+
only showing top 5 rows

In [22]:
from pyspark.ml.feature import StandardScaler

In [153]:
scaler = StandardScaler(inputCol="features", outputCol="features_scaled")
df_escalado = scaler.fit(df_with_features).transform(df_with_features)

In [144]:
df_escalado.show(7)

+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+--------------------+--------------------+
|magnitude|start_year|start_month|start_day|end_year|end_month|end_day|total_deaths|total_affected|insured_damage_adjusted|historic_indexado|disaster_group_indexado|disaster_subgroup_indexado|disaster_type_indexado|disaster_subtype_indexado|iso_indexado|country_indexado|subregion_indexado|region_indexado|location_indexado|            features|     features_scaled|
+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+--------------------+--------------------+
|    220.0|      1900|          9|        8|    1900|        9|      8|        6000|             0|                      0|                2|                      1|                         3|                     3|                        3|           2|               2|                 6|              2|             1525|[220.0,1.0,3.0,3....|[0.00186105638256...|
|      5.9|      1900|          7|       12|    1900|        7|     12|         140|             0|                      0|                2|                      1|                         2|                     2|                        1|           9|               9|                 8|              1|             2024|[5.9,1.0,2.0,1.0,...|[4.99101484415577...|
|      7.9|      1901|          8|       10|    1901|        8|     10|          18|            24|                      0|                2|                      1|                         2|                     2|                       12|           7|               7|                 3|              1|              108|[7.9,1.0,2.0,12.0...|[6.68288428285265...|
|      6.4|      1902|         12|       16|    1902|       12|     16|        4562|        125112|                      0|                2|                      1|                         2|                     2|                        1|          35|              35|                 9|              3|              338|[6.4,1.0,2.0,1.0,...|[5.41398220382999...|
|      7.5|      1902|          4|       18|    1902|        4|     18|        2000|             0|                      0|                2|                      1|                         2|                     2|                        1|          53|              53|                 1|              2|             3344|[7.5,1.0,2.0,1.0,...|[6.34451039511327...|
|      6.9|      1902|          2|       13|    1902|        2|     13|          86|         17540|                      0|                2|                      1|                         2|                     2|                        1|          35|              35|                 9|              3|             3587|[6.9,1.0,2.0,1.0,...|[5.83694956350421...|
|      7.7|      1902|          8|       22|    1902|        8|     22|        2500|             0|                      0|                2|                      1|                         2|                     2|                        1|           1|               1|                 3|              1|             4245|[7.7,1.0,2.0,1.0,...|[6.51369733898296...|
+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+--------------------+--------------------+
only showing top 7 rows

In [24]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [154]:
# Dividir datos en entrenamiento y prueba
train, test = df_escalado.randomSplit([0.7, 0.3])

In [155]:
train.show()

+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+--------------------+--------------------+
|magnitude|start_year|start_month|start_day|end_year|end_month|end_day|total_deaths|total_affected|insured_damage_adjusted|historic_indexado|disaster_group_indexado|disaster_subgroup_indexado|disaster_type_indexado|disaster_subtype_indexado|iso_indexado|country_indexado|subregion_indexado|region_indexado|location_indexado|            features|     features_scaled|
+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+--------------------+--------------------+
|      3.0|      1928|          8|        4|    1928|        8|      4|         128|             0|                      0|                2|                      1|                         2|                     2|                       12|           3|               3|                 4|              1|             1464|[3.0,1.0,2.0,12.0...|[2.31670408555928...|
|      4.9|      1914|          5|        8|    1914|        5|      8|         120|           669|                      0|                2|                      1|                         2|                     2|                        1|          18|              18|                 7|              3|              955|[4.9,1.0,2.0,1.0,...|[3.78395000641350...|
|      5.3|      1923|         12|       14|    1923|       12|     14|         300|             0|                      0|                2|                      1|                         2|                     2|                        1|          24|              24|                 1|              2|             1893|[5.3,1.0,2.0,1.0,...|[4.09284388448807...|
|      5.5|      1925|         12|       14|    1925|       12|     14|         500|             0|                      0|                2|                      1|                         2|                     2|                        1|           6|               6|                 2|              1|              549|[5.5,1.0,2.0,1.0,...|[4.24729082352536...|
|      5.7|      1903|          3|       30|    1903|        3|     30|          20|             0|                      0|                2|                      1|                         2|                     2|                        1|         147|             148|                 8|              1|             2804|[5.7,1.0,2.0,1.0,...|[4.40173776256265...|
|      5.7|      1923|          5|       26|    1923|        5|     26|        2200|             0|                      0|                2|                      1|                         2|                     2|                        1|           6|               6|                 2|              1|             4042|[5.7,1.0,2.0,1.0,...|[4.40173776256265...|
|      5.8|      1903|          5|       28|    1903|        5|     28|        1000|             0|                      0|                2|                      1|                         2|                     2|                        1|           9|               9|                 8|              1|             4084|[5.8,1.0,2.0,1.0,...|[4.47896123208129...|
|      5.8|      1920|          9|        7|    1920|        9|      7|        1400|             0|                      0|                2|                      1|                         2|                     2|                        1|          18|              18|                 7|              3|              946|[5.8,1.0,2.0,1.0,...|[4.47896123208129...|
|      5.8|      1925|          1|        9|    1925|        1|      9|         200|             0|                      0|                2|                      1|                         2|                     2|                        1|           9|               9|                 8|              1|              401|[5.8,1.0,2.0,1.0,...|[4.47896123208129...|
|      5.8|      1925|         10|       15|    1925|       10|     15|          12|          1500|                      0|                2|                      1|                         2|                     2|                        1|           1|               1|                 3|              1|                1|[5.8,1.0,2.0,1.0,...|[4.47896123208129...|
|      5.9|      1900|          7|       12|    1900|        7|     12|         140|             0|                      0|                2|                      1|                         2|                     2|                        1|           9|               9|                 8|              1|             2024|[5.9,1.0,2.0,1.0,...|[4.55618470159993...|
|      6.0|      1917|         12|       25|    1917|       12|     25|        2650|             0|                      0|                2|                      1|                         2|                     2|                        1|          53|              53|                 1|              2|             1659|[6.0,1.0,2.0,1.0,...|[4.63340817111857...|
|      6.0|      1920|         12|       17|    1920|       12|     17|         400|             0|                      0|                2|                      1|                         2|                     2|                        1|          30|              30|                 1|              2|             2648|[6.0,1.0,2.0,1.0,...|[4.63340817111857...|
|      6.0|      1930|          5|       14|    1930|        5|     14|          42|             0|                      0|                2|                      1|                         2|                     2|                        1|           1|               1|                 3|              1|                1|[6.0,1.0,2.0,1.0,...|[4.63340817111857...|
|      6.2|      1904|          8|       11|    1904|        8|     11|           4|          1620|                      0|                2|                      1|                         2|                     2|                        1|          20|              20|                 7|              3|             3492|[6.2,1.0,2.0,1.0,...|[4.78785511015586...|
|      6.2|      1915|          6|       22|    1915|        6|     22|           6|             0|                      0|                2|                      1|                         2|                     2|                        1|           2|               2|                 6|              2|             1384|[6.2,1.0,2.0,1.0,...|[4.78785511015586...|
|      6.2|      1920|         11|       26|    1920|       11|     26|         200|             0|                      0|                2|                      1|                         2|                     2|                        1|          40|              40|                 7|              3|             3914|[6.2,1.0,2.0,1.0,...|[4.78785511015586...|
|      6.3|      1903|          4|       29|    1903|        4|     29|        3560|         60000|                      0|                2|                      1|                         2|                     2|                        1|           9|               9|                 8|              1|             2554|[6.3,1.0,2.0,1.0,...|[4.86507857967450...|
|      6.3|      1913|         11|        4|    1913|       11|      4|         150|             0|                      0|                2|                      1|                         2|                     2|                        1|          15|              15|                 1|              2|              248|[6.3,1.0,2.0,1.0,...|[4.86507857967450...|
|      6.3|      1914|         11|       27|    1914|       11|     27|          14|             0|                      0|                2|                      1|                         2|                     2|                        1|          20|              20|                 7|              3|             2400|[6.3,1.0,2.0,1.0,...|[4.86507857967450...|
+---------+----------+-----------+---------+--------+---------+-------+------------+--------------+-----------------------+-----------------+-----------------------+--------------------------+----------------------+-------------------------+------------+----------------+------------------+---------------+-----------------+--------------------+--------------------+
only showing top 20 rows

In [156]:
#from pyspark.ml.classification import LogisticRegression
lr = LogisticRegression(featuresCol="features_scaled", labelCol="total_affected")

model = lr.fit(train)

In [157]:
# Evaluar el modelo
predictions = model.transform(test)
evaluator = MulticlassClassificationEvaluator(labelCol="total_affected", predictionCol="prediction",
                                              metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
accuracy

0.5625

In [160]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler

# Load and prepare the dataset
data = df_indexado#, header=True, inferSchema=True
feature_columns = ['magnitude', 'disaster_group_indexado', 'region_indexado']  # assuming these are the features
assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
data = assembler.transform(data)

# Split the data into training and test sets
train_data, test_data = data.randomSplit([0.7, 0.3])

# Train the model
lr = LinearRegression(featuresCol="features", labelCol="total_affected")
model = lr.fit(train_data)

# Make predictions
predictions = model.transform(test_data)
predictions.select("prediction", "total_affected").show()

+------------------+--------------+
|        prediction|total_affected|
+------------------+--------------+
|122259.42973250139|            11|
| 451270.1557320559|             0|
|122286.26966148498|           263|
|122286.26966148498|         31500|
|122287.94715704652|             0|
|122292.97964373091|             0|
| 451285.2531921092|       1839888|
| 122303.0446170998|             0|
| 122303.0446170998|          2220|
| 451291.9631743551|             0|
|122304.72211266134|             0|
|122304.72211266134|             0|
|122304.72211266134|             0|
| 780282.5592271718|             0|
|451295.31816547806|         25475|
|  451298.673156601|             0|
|122311.43209490727|             0|
|122311.43209490727|             0|
|122314.78708603024|             0|
|122326.52955496055|             0|
+------------------+--------------+
only showing top 20 rows

In [163]:
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import StringIndexer, VectorAssembler

# Load the Iris dataset
data = df_indexado_2

# Assemble features
feature_columns = ['magnitude', 'disaster_group_indexado']
assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
data = assembler.transform(data)

# Split the data
train_data, test_data = data.randomSplit([0.7, 0.3])

# Train the model
rf = RandomForestClassifier(featuresCol="features", labelCol="total_affected")
model = rf.fit(train_data)

# Predictions
predictions = model.transform(test_data)
predictions.select("prediction", "total_affected").show()

Py4JJavaError: An error occurred while calling o7397.fit.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 2251.0 failed 1 times, most recent failure: Lost task 0.0 in stage 2251.0 (TID 1321) (DESKTOP-QOP6DNJ executor driver): java.lang.RuntimeException: Labels MUST be in [0, 100), but got 669.0
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.hashAgg_doAggregate_max_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.hashAgg_doConsume_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.hashAgg_doAggregateWithoutKey_1$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.hashAgg_doAggregateWithoutKey_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:891)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:891)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:834)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2790)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2726)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2725)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2725)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1211)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1211)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1211)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2989)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2928)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2917)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:976)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2263)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2284)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2328)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1022)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:408)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1021)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:448)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.$anonfun$executeCollect$1(AdaptiveSparkPlanExec.scala:360)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.withFinalPlanUpdate(AdaptiveSparkPlanExec.scala:388)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.executeCollect(AdaptiveSparkPlanExec.scala:360)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4218)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3202)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4208)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:526)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4206)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4206)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3202)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3423)
	at org.apache.spark.ml.util.DatasetUtils$.getNumClasses(DatasetUtils.scala:193)
	at org.apache.spark.ml.classification.Classifier.getNumClasses(Classifier.scala:75)
	at org.apache.spark.ml.classification.RandomForestClassifier.$anonfun$train$1(RandomForestClassifier.scala:144)
	at org.apache.spark.ml.util.Instrumentation$.$anonfun$instrumented$1(Instrumentation.scala:191)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.ml.util.Instrumentation$.instrumented(Instrumentation.scala:191)
	at org.apache.spark.ml.classification.RandomForestClassifier.train(RandomForestClassifier.scala:139)
	at org.apache.spark.ml.classification.RandomForestClassifier.train(RandomForestClassifier.scala:47)
	at org.apache.spark.ml.Predictor.fit(Predictor.scala:114)
	at org.apache.spark.ml.Predictor.fit(Predictor.scala:78)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:834)
Caused by: java.lang.RuntimeException: Labels MUST be in [0, 100), but got 669.0
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.hashAgg_doAggregate_max_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.hashAgg_doConsume_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.hashAgg_doAggregateWithoutKey_1$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.hashAgg_doAggregateWithoutKey_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage2.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:891)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:891)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more